---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import familyPic from "/src/images/general/ryan-and-girls.png"
const pageTitle = "Ryan Ptomey - About";
const pageHeader = "About Me";

const identity = {
    firstName: "Ryan",
    occupation: "Data Engineer",
    hobbies: ["video games", "guitar", "reading", "soccer"]
};

const skills = ["JavaScript", "Python", "Google Analytics", "BigQuery", "GCP", "Django"];
---

<BaseLayout pageTitle={pageTitle} pageHeader={pageHeader}>
    <h2>Hi, I'm Ryan.</h2>
    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}.</li>
        <li>I live in Kansas City, and I work as a {identity.occupation}.</li>
        {identity.hobbies.length >= 2 &&
            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        }
    </ul>
    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li>{skill}</li>)}
    </ul>
    <p>This is me and my kids:</p>
    <Image src={familyPic} alt="Ryan smiling with two girls." height="400" />
</BaseLayout>